---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
<a href="https://twitter.com/dmitric" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @dmitric</a>&nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-related="dmitric" data-count="none">Tweet</a>
<iframe frameborder="no" scrolling="no" height="32px" width="300px" src="http://hnlike.com/upvote.php?link=http://dmitric.github.io{{ page.url }}&title={{page.title}}">iframes not supported by your browser</iframe>
<br /><br />
<div id="post">
{{ content }}
</div>
<br />
<div id="social">
  <a href="https://twitter.com/dmitric" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @dmitric</a>&nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-related="dmitric" data-count="none">Tweet</a>
  <iframe frameborder="no" scrolling="no" height="32px" width="300px" src="http://hnlike.com/upvote.php?link=http://dmitric.github.io{{ page.url }}&title={{page.title}}">iframes not supported by your browser</iframe>
</div>
