---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
<a href="https://twitter.com/dmitric" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @dmitric</a>&nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-related="dmitric" data-count="none">Tweet</a>
<br /><br />
<div id="post">
{{ content }}
</div>
<br />
<div id="social">
  <div class="fb-like" data-href="http://dmitric.github.io{{ page.url }}" data-send="false" data-layout="box_count" data-width="200" data-show-faces="true"></div>&nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-related="dmitric" data-count="vertical">Tweet</a>&nbsp;&nbsp;<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>&nbsp;&nbsp;
  <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/Share" data-counter="top"></script>
</div>
